
.honorsgrid{

	display:grid;
}
.anothergrid{
	background-color:grey;
	height:900px;
	width:1500px;
	display:grid;
}
.words{
	display:grid;
	border:red solid 2px;
	background-color:white;
	height:208px;
	width:248px;
}
.item1{
	width:120px;
	height:100px;
	background-color:white;
	border:red solid 2px;
	display:grid;
	grid-column-start:1;
}
.item2{
	width:120px;
	height:100px;
	background-color:white;
	border:red solid 2px;
	display:grid;
	grid-column-start:2;
}
.item3{
	width:120px;
	height:100px;
	background-color:white;
	border:red solid 2px;
	display:grid;
	grid-column-start:1;
}
.item4{
	width:120px;
	height:100px;
	background-color:white;
	border:red solid 2px;
	display:grid;
	grid-column-start:2;
}
.yoda{
	background-color:white;
	height:283px;
	width:535px;
	font-size:40px;
	grid-row-start:75;
	float:right;
}
img{
	width:500px;
	height:238px;
}
.link{
	height:900px;
	width:430px;
	font-size:150px;
	grid-column-start:5000;
	float:left;
}
